option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
    NODE_ENV: production
    JWT_SECRET: admin
    REFRESH_TOKEN_SECRET: super-refresh-secret
    REFRESH_TOKEN_EXPIRES_IN: 7d
    REFRESH_TOKEN_PREFIX: refresh
    REFRESH_COOKIE_NAME: refreshToken
    REFRESH_COOKIE_SAMESITE: lax
    REFRESH_COOKIE_SECURE: 'false'
    REFRESH_COOKIE_PATH: /api/auth
    CORS_ORIGIN: 'http://dokkan-env.eba-kkz9eyeu.us-east-1.elasticbeanstalk.com:5000,http://dokkan-env.eba-kkz9eyeu.us-east-1.elasticbeanstalk.com:3000'
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
    POSTGRES_DB: my_app_db
    POSTGRES_PORT: '5432'
    DATABASE_URL: 'postgres://root:root@nx_postgres:5432/my_app_db'
    REDIS_HOST: 'rediss://default:gQAAAAAAAdGnAAIgcDEyOTc4MTRjMmVkZTA0YWQwYWE2MjEyNjk2N2E5ODYyYQ@unbiased-skylark-119207.upstash.io'
    REDIS_PORT: '6379'
    MEILI_MASTER_KEY: masterKey
    MEILI_PORT: '7700'
    AWS_S3_BUCKET_NAME: prod-dokkan
    AWS_S3_REGION: us-east-1
    MINIO_PUBLIC_URL: 'http://dokkan-env.eba-kkz9eyeu.us-east-1.elasticbeanstalk.com:9000'
    AUTO_SEED: 'true'
    DB_WAIT_RETRIES: '60'
    SMTP_HOST: localhost
    SMTP_PORT: '1025'
    SMTP_USER: ''
    SMTP_PASS: ''
    EMAIL_FROM: 'Dokkan Security <noreply@dokkan.com>'
    FRONTEND_PORT: '5000'
    VITE_API_URL: 'http://dokkan-env.eba-kkz9eyeu.us-east-1.elasticbeanstalk.com/api'
    VITE_CLIENT_PORT: '5000'
    VITE_SERVER_PORT: '3000'
